<div class="header-conatiner">
    <div>Get to know me</div>
    <h1>About Me</h1>
</div>

<div class="row margin-top-30">
    <div class="col-md-5 col-sm-6 col-xs-12">
        <img src="{{userInfo.about.profileImg}}" width="400" alt="gk profile">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="who-am-i">Who am i?</div>
        <div class="intro" [innerText]="userInfo.about.header"></div>
        <p [innerText]="userInfo.about.profileDesc"></p>

        <hr>
        <div class="row" class="personal-info">
            <div class="no-padding col-md-6 col-sm-6 col-xs-12">
                <div>
                    Name : <span [innerText]="userInfo.about.name"></span>
                </div>
                <div>
                    Age : <span [innerText]="userInfo.about.age"></span>
                </div>
            </div>
            <div class="no-padding col-md-6 col-sm-6 col-xs-12">
                <div>
                    Email : <span [innerText]="userInfo.about.email"></span>
                </div>
                <div>
                    From: <span [innerText]="userInfo.about.from"></span>
                </div>
            </div>
        </div>
        <div class="social-container">
            <button class="btn btn-primary" (click)="downloadCV()">
                Download CV
            </button>
            <div class="social-links">
                <a href="{{userInfo.about.socialLinks.instagram}}" target="_blank" class="fa fa-instagram"></a>
                <a href="{{userInfo.about.socialLinks.facebook}}" target="_blank" class="fa fa-facebook"></a>
                <a href="{{userInfo.about.socialLinks.linkedIn}}" target="_blank" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
</div>