.header-conatiner {
    text-align: center;
    margin-top: 5%;
}

h3{
    color: #009e66;
}

.intro {
    font-size: x-large;
    font-weight: bold;
}

div img {
    float: right;
}
p {
    font-size: 16px;
    color: #887979;
}