<div class="container">
    <div class="name" [innerText]="userInfo.about.name">
    </div>
    <div class="align-center"> <span class="im-a-pre">I'm a</span><span class="im-a"></span>
    </div>
</div>
<div class="social-links">
    <a href="{{userInfo.about.socialLinks.instagram}}" target="_blank" class="fa fa-instagram"></a>
    <a href="{{userInfo.about.socialLinks.facebook}}" target="_blank" class="fa fa-facebook"></a>
    <a href="{{userInfo.about.socialLinks.linkedIn}}" target="_blank" class="fa fa-linkedin"></a>
</div>

<img src="../../../assets/bg1.jpg" height="100%" alt="">