.header-conatiner {
    text-align: center;
    margin-top: 5%;

    div {
        color: #887979;
        font-size: 17px;
    }
}

h1 {
    font-size: -webkit-xxx-large;
    font-weight: bolder;
}

.gray-style {
    color: #887979;
    font-size: 15px;
}

.progress-bar {
    background-color: #009e66;
    font-weight: bold;
}

.my-skills {
    font-size: xxx-large;
}

.skills {
    font-size: 20px;
    color: #dddddd;
}